{% extends 'base.html' %}
{% block content %}
<div class="about">
    <h2>About Me</h2>
    <p><strong>Location:</strong> Peterborough, Ontario, Canada</p>
    <h3>Education</h3>
    <p>Postgraduate in Wireless Information Networking - Fleming College</p>
    <p>Bachelor's in Mechanical and Electronics & Communication Engineering - Government Technological University, Ahmedabad</p>
    
    <h3>Certifications</h3>
    <ul>
        <li>CWB Flat 47.1 Certification</li>
        <li>Cisco CCNA Certifications (Introduction to Networks, Switching, Routing & Wireless Essentials, Enterprise Networking)</li>
    </ul>
    
    <h3>Skills</h3>
    <p>Welding, IoT, Embedded Systems, Python, MERN Stack, MATLAB, WordPress, and more.</p>
</div>
{% endblock %}
