{% extends 'base.html' %}
{% block content %}
<section id="about">
    <div class="container">
        <h2>About Me</h2>
        <p>I'm a multi-skilled developer and engineer with expertise in IoT, embedded systems, and software development.</p>
        <h3>Education</h3>
        <ul>
            <li>Postgraduate in Wireless Information Networking - Fleming College</li>
            <li>Bachelor's in Mechanical and Electronics & Communication Engineering - Government Technological University, Ahmedabad</li>
        </ul>
        <h3>Certifications</h3>
        <ul>
            <li>Python 100 Days Bootcamp</li>
            <li>Cisco CCNA Certifications</li>
        </ul>
    </div>
</section>
{% endblock %}
