{% extends 'base.html' %}
{% block content %}
<section id="hero">
    <div class="hero-container">
        <img src="{{ url_for('static', filename='images/dharmik-profile.jpg') }}" alt="Dharmik Kanani Profile Picture" />
        <h1>Welcome to My Portfolio!</h1>
        <p>I'm a software developer with expertise in Python, web development, IoT, and embedded systems. My background in Mechanical and Electronics Engineering adds a unique approach to solving technical challenges.</p>
        <a href="#about" class="btn-get-started">Learn More About Me</a>
    </div>
</section>
{% endblock %}
