{% extends 'base.html' %}
{% block content %}
<section id="portfolio">
    <div class="container">
        <h2>Projects</h2>
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item">
                <h3>1.<a href="https://github.com/Dharmikkanani12/Python_projects/tree/main/The%20Hangman%20Game%20Project" target="_blank">The Hangman Game</a></h3>
                <p>The Project is based on famous game and it's based on terminal.</p>
                <h3>2.<a href="https://github.com/Dharmikkanani12/Python_projects/tree/main/The%20Coffe-maker%20Machine" target="_blank">The Cofee Maker Machine Project</a></h3>
                <p>The Project is shows skills of Object Orienting Programme.</p>
                <h3>3.<a href="https://github.com/Dharmikkanani12/Python_projects/tree/main/The%20Caesar-Cipher%20Project" target="_blank">The Caesar Cipher Project</a></h3>
                <p>This is the project of Caesar technique.</p>
                <h3>4.<a href="https://github.com/Dharmikkanani12/Python_projects/tree/main/The%20Quiz-game-final" target="_blank">The quiz game</a></h3>
                <p>This is game based on terminal shoews intermidiate skills.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
